@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	font-family: 'Poppins', sans-serif;
	width: 70%;
	margin: 0 auto;
}

.wrapper {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}

.score {
	font-size: 22px;
}

.options {
	background-color: #fafafa;
	height: 200px;
	width: 200px;
	border-radius: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.option {
	color: #323232;
	font-size: 45px;
}

.message {
	font-size: 22px;
}

@media only screen and (max-width: 920px) {
	.score {
		font-size: 18px;
	}
	.options {
		height: 150px;
		width: 150px;
		border-radius: 150px;
	}
	.message {
		font-size: 18px;
	}
}

@media only screen and (max-width: 760px) {
	body {
		width: 80%;
	}
	.score {
		font-size: 15px;
	}
	.options {
		height: 120px;
		width: 120px;
		border-radius: 150px;
	}
	.message {
		font-size: 15px;
	}
}

@media only screen and (max-width: 540px) {
	body {
		width: 100%;
	}
	.score {
		font-size: 15px;
	}
	.options {
		height: 120px;
		width: 120px;
		border-radius: 150px;
	}
	.message {
		font-size: 13px;
	}
}
